@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Mali");
@import url("https://fonts.googleapis.com/css?family=Lobster");

body{
  position: absolute;
  top:0;
  text-shadow: #8a8282 0px 1px 1px;
}

:global {
  @import '../../node_modules/antd/dist/antd.css';

  .transparent-button{
    background: transparent!important;
    box-shadow: none!important;
    border: none!important;
  }

  .flex{
    display: flex;
  }

  .flex-space-around{
    justify-content: space-around;
  }

  .flex-center{
    justify-content: center;
  }

  .flex-column{
    flex-direction: column;
  }

  .mobile-header-nav {
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .mobile-header-nav a {
    padding-top: 10px;
    color: #36a89d !important;
  }
  .btn{
    text-shadow: #8a8282 0px 1px 1px;
  }

  .order-btn{
    font-size: 20px!important;
    height: 50px!important;
    width: 200px!important;
    border-radius: 50px!important;
    background: rebeccapurple!important;
    border: none!important;
    color: white!important;
    text-align: center;
    padding-top: 10px;
    &:hover{
      background: #47206d !important;
    }
  }

  .details-button{
    font-size: 16px !important;
    height: 40px !important;
    width: 130px !important;
    border-radius: 50px !important;
    background: #36a89d !important;
    border: none !important;
    color: white !important;
    &:hover{
      background: #47206d !important;
    }
  }
}